body {
    font-family: 'Fredoka One', sans-serif;
}

.perso_bgBlue {
    background-color: rgb(40, 54, 69);
}

.perso_bgOrange {
    background-color: #FF8000;
}

nav a {
    /* color: white !important; */
    font-size: 25px;
}

nav a:hover {
    color: #FF8000 !important;
}

.perso_bgBlueDegrede {
    background: linear-gradient(rgb(40, 54, 69), white);
}

.perso_colorBlueLight {
    color: #1490d7 !important;
}

html {
    scroll-behavior: smooth !important;
}

/* Animation du menu */

/* navbar-brand (à gauche) */

.navbar-brand {
    animation-name: brand;
    animation-duration: 2s;
    position: relative;
}

@keyframes brand {
    0% {
        left: -1000px;
    }
    100% {
        left: 0px;
    }
}

/* navbar-nav (à droite) */

.navbar-nav {
    animation-name: lien;
    animation-duration: 2s;
    position: relative;
}

@keyframes lien {
    0% {
        left: 1000px;
    }
    100% {
        left: 0px;
    }
}

/* Animation du bouton */

.monBouton {
    animation-name: saut;
    animation-duration: 0.5s;
    position: relative;
    animation-iteration-count: infinite;
    /* Une fois l'animation finie, fait la même chose dans le sens inverse */
    animation-direction: alternate;
}

@keyframes saut {
    0% {
        transition: all 200ms ease-in;
        /* Taille x1 fois de l'élément */
        transform: scale(1);
    }
    100% {
        transition: all 200ms ease-in;
        /* Taille x1.2 fois de l'élément */
        transform: scale(1.2);
    }
}

/* Animation du témoignage 1 */
.animationTemoignage1 {
    animation-name: temoignage1;
    animation-duration: 1s;
    position: relative;
}

@keyframes temoignage1 {
    0% {
        left: -1000px;
    }
    100% {
        left: 0px;
    }
}
/* Animation du témoignage 2 */
.animationTemoignage2 {
    animation-name: temoignage2;
    animation-duration: 1s;
    position: relative;
}

@keyframes temoignage2 {
    0% {
        bottom: -100px;
    }
    100% {
        bottom: 0px;
    }
}

/* Animation du témoignage 3 */
.animationTemoignage3 {
    animation-name: temoignage3;
    animation-duration: 1s;
    position: relative;
}

@keyframes temoignage3 {
    0% {
        left: 1000px;
    }
    100% {
        left: 0px;
    }
}